<header class="header contaner" role="banner">
  <div class="header__logo">
    <img src="assets/img/logo.svg" alt="DEXART">
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list container">
      <li><a href="#" class="btn">World Backstory</a></li>
      <li><a href="#" class="btn">Avatar Design tool</a></li>
      <li><a href="#" class="btn">Map</a></li>
      <li><a href="#" class="btn">Join</a></li>
    </ul>
  </nav>
  <div class="header__info container">
    <div class="header__follow">
      <button class="btn btn-transparent" type="button" id="headerFollow"
              onclick="this.classList.toggle('active')">Follow Dexart</button>
      <ul>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_inst.svg" alt="Instagram logo">
            <p>Instagram</p>
          </a>
        </li>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_twitter.svg" alt="Twitter logo">
            <p>Twitter</p>
          </a>
        </li>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_youtube.svg" alt="Youtube logo">
            <p>Youtube</p>
          </a>
        </li>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_telegram.svg" alt="Telegram logo">
            <p>Telegram</p>
          </a>
        </li>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_medium.svg" alt="Medium logo">
            <p>Medium</p>
          </a>
        </li>
        <li>
          <a href="#" class="btn" target="_blank">
            <img src="assets/img/icon_reddit.svg" alt="Reddit logo">
            <p>Reddit</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="header__lang container">
      <a class="btn btn--active" href="#">En</a>
      <hr>
      <a class="btn" href="#">Ru</a>
    </div>
  </div>
  <div class="header__mobile">
    <button class="btn header__button" type="button" onclick="document.querySelector('.header').classList.toggle('active')">
      <img src="assets/img/mob-menu.svg" alt="Open menu" class="header__button--open">
      <img src="assets/img/mob-close.svg" alt="Close menu" class="header__button--close">
    </button>
    <div class="header__menu">
      <nav class="header__menu-nav">
        <ul class="header__nav-list container">
          <li><a href="#" class="btn">Home</a></li>
          <li><a href="#" class="btn">World Backstory</a></li>
          <li><a href="#" class="btn">Avatar Design tool</a></li>
          <li><a href="#" class="btn">Map</a></li>
          <li><a href="#" class="btn">Legal information</a></li>
          <li><a href="#" class="btn">Join</a></li>
        </ul>
      </nav>
      <div class="header__menu-follow">
        <h2 class="header__title">Follow us</h2>
        <ul class="container">
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_inst-dark.svg" alt="Instagram logo">
            </a>
          </li>
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_twitter-dark.svg" alt="Twitter logo">
            </a>
          </li>
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_youtube-dark.svg" alt="Youtube logo">
            </a>
          </li>
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_telegram-dark.svg" alt="Telegram logo">
            </a>
          </li>
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_medium-dark.svg" alt="Medium logo">
            </a>
          </li>
          <li>
            <a href="#" class="btn" target="_blank">
              <img src="assets/img/icon_reddit-dark.svg" alt="Reddit logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
